<?xml version="1.0"?>
<config>
    <modules>
        <Everlytic_Customerapi>
            <version>0.1.0</version>
        </Everlytic_Customerapi>
    </modules>
    <global>
        <models>
            <everlytic_customerapi>
                <class>Everlytic_Customerapi_Model</class>
            </everlytic_customerapi>
        </models>
    </global>
</config>
